.mat-column-id {
    width: 100px;
}

.mat-column-termId {
    width: 100px;
}

.mat-column-verCode {
    width: 100px;
}

.mat-column-configType {
    width: 100px;
}

.mat-column-pkg {
    width: 100px;
}

.mat-column-updateDate {
    width: 100px;
    color: green;
}

.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}